body {
  margin: 0;
  /* background-color: green; */
}
/* <!-- building the navbar -- >  */
.nav1 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  cursor: pointer;
  height: 60px;
  width: auto;
  display: flex;
  justify-content: space-around;
  background-color: #222222;
  color: gray;
}
.brands,
.login {
  display: flex;
  gap: 50px;
}
/* building the navbar 2 */
.nav2 {
  /* margin-bottom: 60px; */

  cursor: pointer;
  height: 60px;

  width: auto;
  display: flex;
  justify-content: space-around;
  background-color: #222222;
  color: #fdffff;
}
.mainlogo {
  font-style: italic;
}

/* Cart display page */
.cart {
  width: 90%;
  height: 900px;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.insidecart {
  text-align: center;
  width: 250px;
  height: 450px;
  border: 1px solid gray;
}
.insidecart > p:hover {
  color: blueviolet;
  cursor: pointer;
}
#quickview {
  background-color: black;
  color: white;
  padding: 10px 80px;
  border: 0;
}
.description {
  margin-left: 30px;
  margin-top: 30px;
}

#footer {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  background-color: #202020;
  color: white;
}
#footer > div {
  margin-top: 20px;
  margin-left: 30px;
}
